<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/scripture.css" rel="stylesheet">
    <title><%= current_page.data.title || "Bible API Example Application" %></title>
  </head>

  <body class="<%= page_classes %>">

    <header>
      <div class="container">
        <a href="index.html" class="logo" title="American Bible Society">ABS</a>

        <div class="crumbs">
          <div id="breadcrumbs"></div>
        </div>

        <h1>
          <a href="index.html">
            <span>API Demo App</span>
          </a>
        </h1>
      </div>
    </header>

    <div class="subheader">
      <div class="container flex">

        <div class="subheadings">
          <% if content_for?(:subheader) %>
<%= yield_content :subheader %>
          <% else %>
            <h2 id="viewing-label"></h2>
            <h3 id="viewing"></h3>
          <% end %>
        </div>
        <div id="search-container" class="search-area flex">
          <button onclick="searchButton()">🔎</button>
          <input type="text" id="search-input" placeholder="ex. 'John 3:16-19' OR 'kingdom'"
            size="30" onkeydown = "if (event.keyCode == 13) searchButton()" >
        </div>

      </div><!-- .container.flex -->
    </div><!-- .subheader -->

    <main class="container">
      <h4 id="select-prompt" class="list-heading"><span><%= current_page.data.selectPrompt || '&nbsp;' %></span></h4>
<%= yield %>
    </main>

    <script src="../js/my_key.js"></script>
    <%= yield_content :javascript %>
  </body>
</html>
